@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quiz Project</h1>
    <p class="lead">This is a project designed to pull questions and asnswers from a data base, display them on a webpage and score the quiz once it has been completed.</p>
    <p><a href="http://localhost:64502/Home/Data" class="btn btn-primary btn-lg">Take Quiz &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>